.jumbotron{style: "text-align:center;"}
	%h1.text-info#responsive_icon
		- if @check.card_payment
			%span.label.label-warning
				= icon("credit-card") 
				¡La maquinita!
		- else
			%span.label.label-success
				= icon("money")
				Con billullo
	%br
	%p{style: "font-weight: 400;"} 
		Tu cuenta debiera llegar a la mesa en los próximos minutos, 
		%strong¡Muchas gracias!