.jumbotron{style: "text-align:center;"}
	%h1.text-info#responsive_icon
		- if @check.card_payment
			%span.label.label-warning
				= icon("credit-card") 
				¡La maquinita!
		- else
			%span.label.label-success
				= icon("money")
				Con billete
	%br
	%p{style: "font-weight: 400;"} 
		Tu cuenta debiera llegar a la mesa en los próximos minutos. 
		
	%p 
		%strong Muchas gracias, ¡Nos vemos pronto!
	%a.btn.btn-block.btn-primary.btn-lg.fancy-button{ href: "/code/#{Table.find(@check.table_id).uid}" }
		= icon('home') 
		Volver al menú principal