#responsive_brand{
	font-family: 'Lobster', sans-serif;
	color: #f1c40f;
	text-align: center;
}

#follow_up{
	font-family: 'PT Sans', sans-serif;
	color: #ecf0f1;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
}